{% extends "home/layout.html" %}
<html>
{% block content %}
 <meta charset="UTF-8">
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var myCenter=new google.maps.LatLng(37.3042276,127.32332810000003);

    function initialize()
    {
        var mapProp = {
            center:myCenter,
            zoom:10,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var marker=new google.maps.Marker({
            position:myCenter,
            animation:google.maps.Animation.BOUNCE
        });
        marker.setMap(map);
        var infowindow = new google.maps.InfoWindow({
            content:"SPOT360 (본사)"
        });
        infowindow.open(map,marker);
              
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

	<body>
 
	<div id="googleMap" style="width:500px;height:380px;"></div>

        <h2 class="lined-section widget-title">&nbsp; &nbsp; &nbsp; &nbsp;Contact Us<span></span></h2>			
        <div class="textwidget"><p><b>Spot360 ICT (Information and Communications Technologies)</b><br />
        한글) SPOT360, 경기도 광주시 도척면 <br />
        도척윗로 722-10<br /><br />

        English) SPOT360, 722-10, Docheogwit-ro, <br />
        Docheok-myeon, Gwangju-si, <br />
        Gyeonggi-do, Korea<br /><br />
                        
        E-Mail) spot360.team@gmail.com</p>

	</body>
{% endblock %}    
</html>
