{% extends "home/layout.html" %}

<html>
    <meta charset="UTF-8">
{% block content %}
    <body>
	<section class="part-content">
        <div class="row">
            <div class=" grid12 no-sidebar">
                <div class="space"></div>
                <div class=" h1 home-title color2 acenter">What we do</div>
                <div class=" h2 home-subhead color2 acenter">Choose your path</div>
                <div class="row">
                    <div id="what-we-do">
                        <div class="grid3 acenter"></div>
                        <div class="grid3 acenter"><a class="sem" href="#3PL_Logistics">
                            <div class="chart  icon-rocket chart-center" data-percent="100" data-linewidth="10" data-linecap="round" data-size="200" data-barcolor="#446d71" data-trackcolor="#ebebeb" data-animate="1.5" style=" font-size: 60px;"></div>
                            <h3 class=" color2">3PL Logistics</h3>
                            <p></a>
                        </div>
                        <div class="grid3 acenter"><a class="mobile" href="#it_service">
                            <div class="chart icon-rocket chart-center" data-percent="100" data-linewidth="10" data-linecap="round" data-size="200" data-barcolor="#7EAB9B" data-trackcolor="#ebebeb" data-animate="2" style=" font-size: 60px;"></div>
                            <h3 class=" color2">Smart &amp; Data Management</h3>
                            <p></a>
                        </div>
                        <div class="grid3 acenter"></div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </section>

    </body>
{% endblock %}    
</html>

