{% extends "home/layout.html" %}

<html>
    <meta charset="UTF-8">
{% block content %}
    <body>
	<h2 class="lined-section widget-title">&nbsp; &nbsp; &nbsp; &nbsp;고객의 편의 최우선<span></span></h2>
	    <img src="http://spot360.pythonanywhere.com/static/images/logistics_flow.jpg" />
	    <img src="http://spot360.pythonanywhere.com/static/images/logistics_rework.jpg" />
	</b><br />

	<h2 class="lined-section widget-title">&nbsp; &nbsp; &nbsp; &nbsp;물류 시스템의 선도기업<span></span></h2>
	    <img src="http://spot360.pythonanywhere.com/static/images/logistics_leading.jpg" />
	</b><br />

	<h2 class="lined-section widget-title">&nbsp; &nbsp; &nbsp; &nbsp;BIG DATA 유통 분석<span></span></h2>
	    <img src="http://spot360.pythonanywhere.com/static/images/logistics_big_data_1.jpg" />
	    <img src="http://spot360.pythonanywhere.com/static/images/logistics_big_data_2.jpg" />
		
	</b><br />

    </body>
{% endblock %}    
</html>

