{% extends "home/layout.html" %}

<html>
{% block content %}
	<body>
	<div class="row">                
            <div class="chart  icon-rocket chart-center" data-percent="100" data-linewidth="10" data-linecap="round" data-size="100" data-barcolor="#446d71" data-trackcolor="#ebebeb" data-animate="1.5" style=" font-size: 40px;">

                <h2 class="lined-section widget-title">&nbsp; &nbsp; &nbsp; &nbsp;BIG DATA 유통 분석<span></span></h2>
                <img src="http://spot360.pythonanywhere.com/static/images/logistics_big_data_1.jpg"  width="70%" height="30%"/>
                <img src="http://spot360.pythonanywhere.com/static/images/logistics_big_data_2.jpg"  width="70%" height="30%"/>
                
                </b><br />

            </div>

    	</div>
	</body>
{% endblock %}    
</html>