{% extends "home/layout.html" %}

<html>
{% block content %}
	<body>
	<div class="row">                
            <div class="chart  icon-rocket chart-center" data-percent="100" data-linewidth="10" data-linecap="round" data-size="100" data-barcolor="#446d71" data-trackcolor="#ebebeb" data-animate="1.5" style=" font-size: 40px;">

                <h2 class="lined-section widget-title">&nbsp; &nbsp; &nbsp; &nbsp;고객의 편의 최우선<span></span></h2>
                <img src="http://spot360.pythonanywhere.com/static/images/logistics_flow.jpg"  width="70%" height="30%"/>
                <img src="http://spot360.pythonanywhere.com/static/images/logistics_rework.jpg"  width="70%" height="30%"/>
                </b><br />

            </div>

            <div class="chart  icon-rocket chart-center" data-percent="100" data-linewidth="10" data-linecap="round" data-size="100" data-barcolor="#446d71" data-trackcolor="#ebebeb" data-animate="1.5" style=" font-size: 40px;">

                <h2 class="lined-section widget-title">&nbsp; &nbsp; &nbsp; &nbsp;물류 시스템의 선도기업<span></span></h2>
                <img src="http://spot360.pythonanywhere.com/static/images/logistics_leading.jpg"  width="70%" height="30%"/>
                </b><br />

            </div>          

    	</div>
	</body>
{% endblock %}    
</html>