{% extends "materials/layout.html" %}
{% block content %}
<body>
	<!--<h1>{{Date}} Incoming List</h1>-->
	<div class=" h1 home-title color2 acenter">{{Date}} Incoming List</div>
	<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<td><B>입고 날짜</B></td>
				<td><B>화주명</B></td>
				<td><B>자재명</B></td>
				<td><B>자재코드</B></td>
				<td><B>관리코드</B></td>
				<td><B>위치코드</B></td>
				<td><B>팔레트코드</B></td> 
				<td><B>입고단위</B></td>
				<td><B>입고개수</B></td>
			</tr>
		</thead>
		<tbody>
		{% for incoming in incoming_list %}
			<tr>
				<td> {{incoming.incoming_date.year}}/{{incoming.incoming_date.month}}/{{incoming.incoming_date.day}}</td>
				<td> <a href="c{{incoming.material.customer.id}}"> {{incoming.material.customer}}</a></td>
				<td> <a href="m{{incoming.material.id}}"> {{incoming.material.material_name}}</a></td>
				<td> {{incoming.material.material_code}} </td>
				<td> {{incoming.material.control_code}} </td>
				<td> <a href="z{{incoming.pallet.zone.id}}">{{incoming.pallet.zone}}</a></td>
				<td> <a href="p{{incoming.pallet.id}}"> {{incoming.pallet}}</a></td>
				<td> {{incoming.incoming_unit}} </td>
				<td> {{incoming.incoming_count}} </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</body>
{% endblock %}