{% extends "materials/layout.html" %}

<html>
	{% block content %}

	<body>
		<!--<h1>{{customer}} 자재 목록</h1>-->
		<div class=" h1 home-title color2 acenter">{{customer}} 자재 목록</div>
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<td><B>화주명</B></td>
					<td><B>자재명</B></td>
					<td><B>자재코드</B></td>
					<td><B>관리코드</B></td>
					<td><B>관리단위</B></td>
					<td><B>박스(낱개)</B></td>
				</tr>
			</thead>
			<tbody>
			{% for material in material_list %}
				<tr>
					{% if customer == 'Total' %}
					<td>
					<a href="c/{{material.customer.id}}/">{{material.customer}}</a> </td>
					{% else %}
					<td> {{material.customer}} </td>
					{% endif %}
					<td> {{material.material_name}} </td>
					<td> {{material.material_code}} </td>
					<td> {{material.control_code}} </td>
					<td> {{material.unit}} </td>
					<td> {{material.Box_unit}} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</body>
	{% endblock %}
</html>
