{% extends "materials/layout.html" %}

<html> 

    {% block content %}
	<body>
		<!--<h1>{{Date}} Outgoing List</h1>-->
		<div class=" h2 home-title color2 acenter">{{Date}} 출고 목록</div>
    	<div class="table-responsive">
        
        <table class="table table-striped">
	        <thead>
	            <tr>
					<td><B>출고 날짜</B></td>
	            	<td><B>화주명</B></td>
	                <td><B>자재명</B></td>
	                <td><B>자재코드</B></td>
	                <td><B>관리코드</B></td>
					<td><B>위치코드</B></td>
					<td><B>팔레트코드</B></td> 
	                <td><B>출하단위</B></td>
					<td><B>포장관리</B></td>
					<td><B>출하개수</B></td>
	            </tr>
	        </thead>
            <tbody>
				{% for outgoing in outgoing_list %}
				<tr>
					<td> {{outgoing.outgoing_date.year}}/{{outgoing.outgoing_date.month}}/{{outgoing.outgoing_date.day}}</td>
					<td> <a href="c{{outgoing.material.customer.id}}">{{outgoing.material.customer}}</a></td>
					<td> <a href="m{{outgoing.material.id}}"> {{outgoing.material.material_name}}</a></td>
					<td> {{outgoing.material.material_code}} </td>
					<td> {{outgoing.material.control_code}} </td>
					<td> <a href="z{{outgoing.pallet.zone.id}}">{{outgoing.pallet.zone}}</a></td>
					<td> <a href="p{{outgoing.pallet.id}}"> {{outgoing.pallet}}</a></td>
					<td> {{outgoing.outgoing_unit}} </td>
					{% if outgoing.unpackBox_count %}
					<td> {{outgoing.packing}}({{outgoing.unpackBox_count}}) </td>
					{% else %}
					<td> {{outgoing.packing}} </td>
					{% endif %}
					<td> {{outgoing.outgoing_count}} </td>
				</tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </body>
    {% endblock %}
</html>
